 .site-layout-background {
  background:#ffffff;
  color:#000000 !important
}

header .anticon svg{
  position: absolute;
  font-size: 20px;
  top: 23px;
  right: 203px;
}

 .site-layout-background .logo {
  height: 32px;
  background:#84a9ac;
  margin: 16px;
  width: 13% !important;
}
