.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .trigger:hover {
    color: #1890ff;
  }
  
   .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    width: 13% !important;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }

  header .anticon svg{
    position: absolute;
    color:#ffffff;
    font-size: 20px;
    top: 23px;
    right: 203px;
  }

  header{
    direction: rtl;
    text-align: right;
  }


.ant-layout{
height: 1000px;
}

.ant-layout-header{
  padding: 0px !important;

}